---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price:  {
      monthly: "$1",
      annual: "$10",},
    popular: false,
    features: [
      "Mic Blocking",
      "Unlimited use",
      "Always on",
      "Algorithmic scrambling",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Advanced",
    price: {
      monthly: "$3 - coming soon!",
      annual: "$30",
    },
    popular: true,
    features: [
      "Join the waitlist to get a special introductory discount!",
      "All Free Features",
      "Advanced scrambling",
      "Identity Scrambling",
      "Ad blocking",
      "Priority Support",
    ],
    button: {
      text: "Join the waitlist!",
      link: "#",
    },
  },
  {
    name: "Multi Device",
    price: "Coming soon",
    popular: false,
    features: [
      "All Pro Features",
      "Blocking on multiple devices",
      "Blocking on your TV and Computer!"
    ],
    button: {
      text: "Join the waitlist!",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
