---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Fully contained",
    description:
      "A lightweight app, doesn't slow down your phone performance.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% on device",
    description:
      "Doesn't require any servers, it just runs on your phone.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "No database",
    description:
      "No need to sign up. We don't store any data about you.",
    icon: "bx:bxs-data",
  },
  {
    title: "AI enabled",
    description:
      "Uses advanced algorithms to prevent advertisers from getting your data.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Can't find you",
    description:
      "Our advanced package comes with some algorithmically advanced features to protect your identity. Sign up on our waitlist for a special introductory discount.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "We're not here for the money. We're just here to make this app the best it can be.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="features" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Keeping your offline conversations out of your phone
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Sileninja works in the background of your phone, ensuring that what you're saying
    doesn't end up in your ads.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
